<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ten.words.teamname">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/x4icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/x4icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Detail.DetailActivity"></activity>
        <activity android:name=".Activity.Login.Register.RegisterActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.Splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Main.MainActivity" />
    </application>

</manifest>